<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

<h1 align=center><font size = 5>Assignment: Notebook for Graded Assessment</font></h1>

# Introduction

Using this Python notebook you will:

1.  Understand three Chicago datasets
2.  Load the three datasets into three tables in a SQLIte database
3.  Execute SQL queries to answer assignment questions

## Understand the datasets

To complete the assignment problems in this notebook you will be using three datasets that are available on the city of Chicago's Data Portal:

1.  <a href="https://data.cityofchicago.org/Health-Human-Services/Census-Data-Selected-socioeconomic-indicators-in-C/kn9c-c2s2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01">Socioeconomic Indicators in Chicago</a>
2.  <a href="https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01">Chicago Public Schools</a>
3.  <a href="https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-present/ijzp-q8t2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01">Chicago Crime Data</a>

### 1. Socioeconomic Indicators in Chicago

This dataset contains a selection of six socioeconomic indicators of public health significance and a “hardship index,” for each Chicago community area, for the years 2008 – 2012.

A detailed description of this dataset and the original dataset can be obtained from the Chicago Data Portal at:

[https://data.cityofchicago.org/Health-Human-Services/Census-Data-Selected-socioeconomic-indicators-in-C/kn9c-c2s2](https://data.cityofchicago.org/Health-Human-Services/Census-Data-Selected-socioeconomic-indicators-in-C/kn9c-c2s2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ)

### 2. Chicago Public Schools

This dataset shows all school level performance data used to create CPS School Report Cards for the 2011-2012 school year. This dataset is provided by the city of Chicago's Data Portal.

A detailed description of this dataset and the original dataset can be obtained from the Chicago Data Portal at:

[https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t](https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ)

### 3. Chicago Crime Data

This dataset reflects reported incidents of crime (with the exception of murders where data exists for each victim) that occurred in the City of Chicago from 2001 to present, minus the most recent seven days.

A detailed description of this dataset and the original dataset can be obtained from the Chicago Data Portal at:

[https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-present/ijzp-q8t2](https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-present/ijzp-q8t2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ)

### Download the datasets

This assignment requires you to have these three tables populated with a subset of the whole datasets.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. 

Use the links below to read the data files using the Pandas library. 

* Chicago Census Data

https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCensusData.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01

* Chicago Public Schools

https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoPublicSchools.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01

* Chicago Crime Data

https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCrimeData.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01

**NOTE:** Ensure you use the datasets available on the links above instead of directly from the Chicago Data Portal. The versions linked here are subsets of the original datasets and have some of the column names modified to be more database friendly which will make it easier to complete this assignment.

### Store the datasets in database tables

To analyze the data using SQL, it first needs to be loaded into SQLite DB.
We will create three tables in as under:

1.  **CENSUS_DATA**
2.  **CHICAGO_PUBLIC_SCHOOLS**
3.  **CHICAGO_CRIME_DATA**

Load the `pandas` and `sqlite3` libraries and establish a connection to `FinalDB.db`

In [1]:
# Load pandas and sqlite3
import pandas, sqlite3

# Connect to sqlite3 database
con = sqlite3.connect("FinalDB.db")

# Create cursor object to send SQL statements to the database
cur = con.cursor()

Load the SQL magic module

In [2]:
# Import SQL Magic to create SQL cells
%load_ext sql

Deploy Shiny apps for free on Ploomber Cloud! Learn more: https://ploomber.io/s/signup

Use `Pandas` to load the data available in the links above to dataframes. Use these dataframes to load data on to the database `FinalDB.db` as required tables.

In [3]:
# Read the CSV from the given URL into Panda DataFrames
df = pandas.read_csv('https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCensusData.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01')

# Use the df.to_sql() function to convert the CSV file to SQL
df.to_sql("CENSUS_DATA", con, if_exists='replace', index=False,method="multi")

# Read the CSV from the given URL into Panda DataFrames
df = pandas.read_csv('https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoPublicSchools.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01')

# Use the df.to_sql() function to convert the CSV file to SQL
df.to_sql("CHICAGO_PUBLIC_SCHOOLS", con, if_exists='replace', index=False,method="multi")

# Read the CSV from the given URL into Panda DataFrames
df = pandas.read_csv('https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCrimeData.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01')

# Use the df.to_sql() function to convert the CSV file to SQL
df.to_sql("CHICAGO_CRIME_DATA", con, if_exists='replace', index=False,method="multi")

533

Establish a connection between SQL magic module and the database `FinalDB.db`

In [4]:
# Establish connection between SQL Magic and the database
%sql sqlite:///FinalDB.db

Connecting to 'sqlite:///FinalDB.db'

You can now proceed to the the following questions. Please note that a graded assignment will follow this lab and there will be a question on each of the problems stated below. It can be from the answer you received or the code you write for this problem. Therefore, please keep a note of both your codes as well as the response you generate.

## Questions

Now write and execute SQL queries to solve assignment questions

#### Question 1. Find the total number of crimes recorded in the CRIME table.

In [5]:
# Count the number of rows in the crime table to find the total number of crimes
%sql SELECT COUNT(*) FROM CHICAGO_CRIME_DATA;

Running query in 'sqlite:///FinalDB.db'

+----------+
| COUNT(*) |
+----------+
|   533    |
+----------+

#### Question 2. List community area names and numbers with per capita income less than 11000.

In [6]:
# List the columns from the census data only including rows where capita income is less than 11000
%%sql

SELECT community_area_number, community_area_name
FROM CENSUS_DATA
WHERE per_capita_income < 11000;

Running query in 'sqlite:///FinalDB.db'

+-----------------------+---------------------+
| COMMUNITY_AREA_NUMBER | COMMUNITY_AREA_NAME |
+-----------------------+---------------------+
|          26.0         |  West Garfield Park |
|          30.0         |    South Lawndale   |
|          37.0         |     Fuller Park     |
|          54.0         |      Riverdale      |
+-----------------------+---------------------+

#### Question 3. List all case numbers for crimes involving minors?(children are not considered minors for the purposes of crime analysis)

In [7]:
# List the columns from the crime data only including rows where the description of the crime includes the word "MINOR"
%%sql

SELECT case_number, description
FROM CHICAGO_CRIME_DATA
WHERE Description LIKE '%MINOR%';

Running query in 'sqlite:///FinalDB.db'

+-------------+-------------------------------+
| CASE_NUMBER |          DESCRIPTION          |
+-------------+-------------------------------+
|   HL266884  | SELL/GIVE/DEL LIQUOR TO MINOR |
|   HK238408  |  ILLEGAL CONSUMPTION BY MINOR |
+-------------+-------------------------------+

#### Question 4. List all kidnapping crimes involving a child?

In [8]:
# List all columns from the crime data including only the rows where the primary type of crime is kidnapping and description includes the word "CHILD"
%%sql

SELECT *
FROM CHICAGO_CRIME_DATA
WHERE primary_type = 'KIDNAPPING' AND description LIKE '%CHILD%';

Running query in 'sqlite:///FinalDB.db'

+---------+-------------+------------+----------------------+------+--------------+--------------------------+----------------------+--------+----------+------+----------+------+-----------------------+---------+--------------+--------------+------+-------------+--------------+-------------------------------+
|    ID   | CASE_NUMBER |    DATE    |        BLOCK         | IUCR | PRIMARY_TYPE |       DESCRIPTION        | LOCATION_DESCRIPTION | ARREST | DOMESTIC | BEAT | DISTRICT | WARD | COMMUNITY_AREA_NUMBER | FBICODE | X_COORDINATE | Y_COORDINATE | YEAR |   LATITUDE  |  LONGITUDE   |            LOCATION           |
+---------+-------------+------------+----------------------+------+--------------+--------------------------+----------------------+--------+----------+------+----------+------+-----------------------+---------+--------------+--------------+------+-------------+--------------+-------------------------------+
| 5276766 |   HN144152  | 2007-01-26 | 050XX W VAN BUREN ST | 1792 |  KIDNAPPING  | CHILD ABDUCTION/STRANGER |        STREET        |   0    |    0     | 1533 |    15    | 29.0 |          25.0         |    20   |  1143050.0   |  1897546.0   | 2007 | 41.87490841 | -87.75024931 | (41.874908413, -87.750249307) |
+---------+-------------+------------+----------------------+------+--------------+--------------------------+----------------------+--------+----------+------+----------+------+-----------------------+---------+--------------+--------------+------+-------------+--------------+-------------------------------+

#### Question 5. List the kind of crimes that were recorded at schools. (No repetitions)

In [9]:
## List the primary type of crime column from the crime data including only the rows where location description includes the word "SCHOOL"
%%sql

SELECT DISTINCT primary_type
FROM CHICAGO_CRIME_DATA
WHERE location_description LIKE '%SCHOOL%';

Running query in 'sqlite:///FinalDB.db'

+------------------------+
|      PRIMARY_TYPE      |
+------------------------+
|        BATTERY         |
|    CRIMINAL DAMAGE     |
|       NARCOTICS        |
|        ASSAULT         |
|   CRIMINAL TRESPASS    |
| PUBLIC PEACE VIOLATION |
+------------------------+

#### Question 6. List the type of schools along with the average safety score for each type.

In [10]:
# List the type of school column and the average safety score for each type of school and group the results by type of school
%%sql

SELECT "Elementary, Middle, or High School", AVG(safety_score) as AVG_safety_score
FROM CHICAGO_PUBLIC_SCHOOLS
GROUP by "Elementary, Middle, or High School";

Running query in 'sqlite:///FinalDB.db'

+------------------------------------+-------------------+
| Elementary, Middle, or High School |  AVG_safety_score |
+------------------------------------+-------------------+
|                 ES                 | 49.52038369304557 |
|                 HS                 | 49.62352941176471 |
|                 MS                 |        48.0       |
+------------------------------------+-------------------+

#### Question 7. List 5 community areas with highest % of households below poverty line

In [11]:
# List the columns from the census data with highest % of households below poverty line ordered by highest first
# Limit to 5 results to show the highest 5 community areas
%%sql

SELECT community_area_name, percent_households_below_poverty
FROM CENSUS_DATA
ORDER BY percent_households_below_poverty DESC
LIMIT 5;

Running query in 'sqlite:///FinalDB.db'

+---------------------+----------------------------------+
| COMMUNITY_AREA_NAME | PERCENT_HOUSEHOLDS_BELOW_POVERTY |
+---------------------+----------------------------------+
|      Riverdale      |               56.5               |
|     Fuller Park     |               51.2               |
|      Englewood      |               46.6               |
|    North Lawndale   |               43.1               |
|  East Garfield Park |               42.4               |
+---------------------+----------------------------------+

### Question 8. Which community area is most crime prone? Display the coumminty area number only.

In [12]:
# Count the number of crimes by community area and save the total as a variable
# Group totals by area
# Order areas by highest amount of crime
# Limit to 1 result to show the highest to determine the area with the most crime
%%sql

SELECT community_area_number, COUNT(community_area_number) AS frequency
FROM CHICAGO_CRIME_DATA
GROUP BY community_area_number
ORDER BY COUNT(community_area_number) DESC
LIMIT 1;

Running query in 'sqlite:///FinalDB.db'

+-----------------------+-----------+
| COMMUNITY_AREA_NUMBER | frequency |
+-----------------------+-----------+
|          25.0         |     43    |
+-----------------------+-----------+

#### Question 9. Use a sub-query to find the name of the community area with highest hardship index

In [13]:
# List the community area column
# Return the row result of the area with the highest hardship_index
%%sql

SELECT community_area_name
FROM CENSUS_DATA
WHERE hardship_index IN (
    SELECT MAX(hardship_index)
    FROM CENSUS_DATA);

Running query in 'sqlite:///FinalDB.db'

+---------------------+
| COMMUNITY_AREA_NAME |
+---------------------+
|      Riverdale      |
+---------------------+

#### Question 10. Use a sub-query to determine the Community Area Name with most number of crimes?

In [14]:
# List the community area column from the census data
# Return the column of the community_area_number from the crime data
# Group rows by community_area_number
# Order rows by the highest count
# Limit to 1 result to show the highest to determine the area with the most crime

%%sql
SELECT community_area_name FROM CENSUS_DATA 
WHERE community_area_number = (
    SELECT community_area_number
    FROM CHICAGO_CRIME_DATA 
    GROUP BY community_area_number
    ORDER BY COUNT(community_area_number) DESC
    LIMIT 1)
LIMIT 1;

Running query in 'sqlite:///FinalDB.db'

+---------------------+
| COMMUNITY_AREA_NAME |
+---------------------+
|        Austin       |
+---------------------+